<!DOCTYPE html>
{% load static %}
<html lang="ru-RU" data-bs-theme="auto">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Страница голосования">
    <meta name="keywords" content="survey, голосование, опросник">
    <meta name="author" content="Der Programmischer Krankenhaus">
    <link type="text/css" rel="stylesheet" href="{% static 'assets/css/main.css' %}" >
    <script defer type="application/javascript" rel="script" src="{% static "assets/js/main.js" %}"></script>
    <link rel="shortcut icon" type="image" href="{% static 'assets/img/icons/avatar.svg' %}">
    <title>Страница голосования</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
