@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body{
    font-family: "Montserrat", sans-serif;
    color: #191919;
    height:100%;
    background-color:#ffffff;
    font-weight:400;
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:#191919 !important;
}

.wrapper{
    min-height:100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.container{
    padding: 15px;
    margin: 0 auto;
    max-width: 1230px;
}

.heading{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.vote_block{
    background-color: #F4F4F4;
    box-shadow: -5px 7px 3px -1px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
    padding: 10px 30px 80px 30px;
}

.question{
    font-size: 28px;
    font-weight: 600;
}

.option{
    margin-bottom: 40px;
}

.option label{
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 15px;
}

.option p{
    color: #717171;
    font-size: 16px;
    margin-left: 40px;
    margin-top: 5px;
}

input[type="checkbox"] {
    accent-color: #272EE8;
    width: 20px;
    height: 20px;
}

.btn_block{
    text-align: center;
    width: 100%;
}

.submit_btn{
    background-color: #272EE8;
    padding: 15px 30px;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 40px 0;
}

@media(max-width:540px){
    .heading{
        font-size: 40px;
    }
    .question{
        font-size: 24px;
    }
    .vote_block{
        padding: 10px 20px 20px 20px;
    }
}