{% extends 'index.htm' %}
{% load static %}
{% block content %}
    <div class="wrapper">
        <form class="container" type="post" id="vote">
            {% for question in questions %}
                <p class="heading">{{ question.question }}</p>
                <div class="vote_block">
                    <p class="question"></p>
                    {% csrf_token %}
                    {% for answer in question.answers.all %}
                        <div class="option">
                            <label>
                                <input type="radio" class="scales" name="scales" value="{{ answer.answer }}">{{ answer.answer }}
                            </label>
                            <p>{{ answer.description }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="btn_block">
                <button form="vote" type="submit" class="submit_btn">Отправить</button>
            </div>
        </form>
    </div>
{% endblock %}