{% extends 'index.htm' %}
{% load static %}
{% block content %}
    <div class="container my-5">
        <h1 class="mb-4">Голосование</h1>
        <form type="post">
            {% csrf_token %}
            {% for question in questions %}
                <div class="question-container">
                    <h5>{{ question.question }}</h5>
                    {% for answer in question.answers.all %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question" id="question1-yes" value="yes">
                            <label class="form-check-label" for="question1-yes">
                                {{ answer.answer }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="voting-btn">
                <button type="submit" class="btn btn-primary">Отправить ответы</button>
            </div>
        </form>
    </div>
{% endblock %}